
@{
    ViewBag.Title = "demoFileUpload";
}

<h2>demoFileUpload</h2>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="photo"/>
    <input type="submit" value="開始上傳" />
</form>